body {
    font-family: Helvetica, "Helvetica Neue", sans-serif;
}

.red {
    color: red;
}
.CenterGothic {
    font-family: "Center Gothic", CenterGothic, AppleGothic, sans-serif;
}
.makeBigger {
    font-size: 120%;
 }